<div
  class="h-100 w-full flex bg-teal-lightest font-sans items-center justify-center"
>
  <div class="bg-white rounded shadow p-6 m-4 w-full">
    <div class="mb-4">
      <h1 class="text-grey-darkest text-2xl">Questions</h1>
      <div class="flex mt-4 lg:w-3/4 lg:max-w-3xl">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker create-question-input"
          placeholder="Add a question"
          (keyup)="onAdd($event.keyCode)"
          [(ngModel)]="entityToAddText"
        />
      </div>
    </div>
    <div class="mt-8">
      <div
        class="flex-wrap mb-4 items-center lg:w-3/4 lg:max-w-3xl"
        *ngFor="let item of items"
      >
        <div class="flex">
          <input
            type="text"
            value="{{ item.text }}"
            id="question-{{ item.id }}"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            (focusout)="onUpdate(13, item, $event.target.value)"
            (keyup)="onUpdate($event.keyCode, item, $event.target.value)"
          />
          <button
            id="toggle-question-{{ item.id }}"
            class="flex-no-shrink p-2 ml-2 border-2 rounded border-teal-200 hover:text-white hover:bg-teal-500"
            (click)="toggleQuestion(item.id)"
          >
            {{ item.isOpened ? "Collapse" : "Expand" }}
          </button>
          <button
            id="delete-question-{{ item.id }}"
            class="flex-no-shrink p-2 ml-2 border-2 rounded border-teal-200 hover:text-white hover:bg-teal-500"
            (click)="onDelete(item.id)"
          >
            Delete
          </button>
        </div>

        <app-question-group-answers
          *ngIf="item.isOpened"
          [items]="answers"
          (messageEventFromAnswers)="receiveMessageFromAnswers($event)"
        ></app-question-group-answers>
      </div>
    </div>
  </div>
</div>
