@import 'utils.scss';

$bg-active: #f2f2f2;
$bs-active: inset 0 0 4px 0 #ccc;
$bc-negative: $c-bright;

:host {
    min-height: sizer(10);
    z-index: z(above);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: sizer(10);
    width: 100%;
    background-color: $bg-secondary;
    padding: 0 sizer(2.5);
    box-shadow: $bs-header;

    &__logo {
        cursor: pointer;
        height: sizer(3);
        margin-right: sizer(4);
        display: flex;
        justify-content: center;
        align-items: center;
        height: sizer(4.5);
        min-width: sizer(13.75);
        color: $fc-input;
        font-size: fs(sm);
        text-transform: uppercase;
        background-color: transparent;
        cursor: pointer;

        &:nth-child(odd) {
            border-right: none;
        }

        img {
            height: 100%;
        }

        span {
            padding-left: 10px;
        }
    }
}
