$breakpoints: (
    lg: 1366px,
    md: 1280px,
    sm: 1024px,
    xs: 768px
);

$gutter: 8px;

$fw-regular: 500;

$main-color: #0ae;

$font-weight-light: 200;
$font-weight-bold: 800;

$max-width-mobile: 767px;
