<div class="flex flex-col sm:flex-row mt-5">
  <div class="sm:w-1/4 p-2">
    <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
      <div class="mb-3">
        <img class="w-48 mx-auto rounded-full" src="/assets/images/question-group-avatar.png" alt="" />
      </div>
      <div class="h-12"></div>
      <a href="#" class="px-4 py-2 bg-teal-400 text-white rounded-full" (click)="openModalCreateQuestionGroup()"
        >Create</a
      >
    </div>
  </div>

  <div class="sm:w-1/4 p-2" *ngFor="let questionGroup of questionGroups$ | async">
    <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
      <div class="mb-3">
        <a [routerLink]="['/question-group', questionGroup ? questionGroup.id : '']">
          <img class="w-48 mx-auto rounded-full" src="/assets/images/question-group-avatar.png" alt="" />
        </a>
      </div>

      <div class="h-12">
        <a
          class="text-xl font-medium text-gray-700 mb-5"
          [routerLink]="['/question-group', questionGroup ? questionGroup.id : '']"
          >{{ questionGroup.name }}</a
        >
      </div>

      <app-question-group-actions-menu
        [questionGroup]="questionGroup"
        (edited)="editQuestionGroup($event)"
        (deleted)="deleteQuestionGroup($event)"
      ></app-question-group-actions-menu>
    </div>
  </div>
</div>
