@import 'utils.scss';

:host {
    height: 100%;
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    padding: sizer(2.5) sizer(5);
}

.question-group-card-container {
    display: grid;
    grid-template-columns: #{repeat(auto-fill, minmax(sizer(35), 1fr))};
    grid-gap: sizer(2.5);
}

.question-group-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: $bs-card;
    background-color: $bg-secondary;
    border-radius: 2px;
    height: sizer(35);
    padding: sizer(1);
    overflow: hidden;
    cursor: pointer;

    &--new {
        padding-top: sizer(4.5);
    }

    &--disabled {
        cursor: auto;
        pointer-events: none;
    }

    &__wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-grow: 1;
        width: 100%;
    }

    &__image {
        height: sizer(12.5);
        width: sizer(12.5);
        margin-bottom: sizer(2.5);

        &--small {
            padding: sizer(1.25);
        }
    }

    &__title {
        font-size: sizer(2.25);
        line-height: 1.1;
        color: $fc-secondary;
        font-weight: $fw-regular;
        margin-bottom: sizer(1);
    }
}
