<div class="h-100 w-full flex bg-teal-lightest font-sans items-center justify-center">
  <div class="bg-white rounded shadow p-6 m-4 w-full ">
    <div class="mb-4">
      <h1 class="text-grey-darkest text-2xl">Questions</h1>
      <div class="flex mt-4 lg:w-3/4 lg:max-w-3xl">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
          placeholder="Add a question"
          (keyup)="addQuestion($event.keyCode)"
          [(ngModel)]="questionToAddText"
        />
      </div>
    </div>
    <div class="mt-8">
      <div class="flex-wrap mb-4 items-center lg:w-3/4 lg:max-w-3xl" *ngFor="let item of questions$ | async">
        <div class="flex">
          <input
            type="text"
            value="{{ item.text }}"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            (focusout)="updateQuestion(13, item, $event.target.value)"
            (keyup)="updateQuestion($event.keyCode, item, $event.target.value)"
          />
          <button
            class="flex-no-shrink p-2 ml-2 border-2 rounded border-teal-200 hover:text-white hover:bg-teal-500"
            (click)="toggleQuestion(item.id)"
          >
            {{ item.isOpened ? 'Collapse' : 'Expand' }}
          </button>
          <button
            class="flex-no-shrink p-2 ml-2 border-2 rounded border-teal-200 hover:text-white hover:bg-teal-500"
            (click)="deleteQuestion(item.id)"
          >
            Delete
          </button>
        </div>

        <app-answers
          *ngIf="item.isOpened"
          [answers]="answers"
          (add)="addAnswer($event)"
          (edit)="editAnswer($event)"
          (delete)="deleteAnswer($event)"
        ></app-answers>
      </div>
    </div>
  </div>
</div>
