<form>
  <section class="section-card" *ngFor="let item of questions$ | async; let i = index">
    <div class="two-columns-grid">
      <div class="question-container">
        <h3 class="section-card__title">QUESTION</h3>
        <div class="question-row">
          <span class="question-row__chevron-expand" (click)="toggleQuestion(item.id)">
            >
          </span>
          <div id="questionWrapper-{{ i }}" class="question-input-wrapper">
            <input
              id="questionInput-{{ i }}"
              type="text"
              value="{{ item.text }}"
              [attr.data-item-id]="item.id"
              class="question-input"
              (focusout)="updateQuestion(13, item, $event.target.value)"
              (keyup)="updateQuestion($event.keyCode, item, $event.target.value)"
            />
            <button
              id="questionDelete-{{ i }}"
              type="button"
              class="question-button delete logo"
              (click)="deleteQuestion(item.id)"
            ></button>
          </div>
        </div>
      </div>
      <div class="question-container">
        <div class="question-wrapper">
          <app-answers
            *ngIf="item.isOpened"
            [answers]="answers"
            (add)="addAnswer($event)"
            (edit)="editAnswer($event)"
            (delete)="deleteAnswer($event)"
          >
          </app-answers>
        </div>
      </div>
    </div>
  </section>

  <section class="section-card">
    <div class="two-columns-grid">
      <div class="question-input-wrapper">
        <input
          id="questionInput"
          class="question-input add-question"
          type="text"
          (keyup)="addQuestion($event.keyCode)"
          [(ngModel)]="questionToAddText"
          name="questionToAddText"
        />
      </div>
    </div>
  </section>
</form>
