.menu-panel-container {
    position: relative;

    .menu-panel {
        z-index: z(menu);
        position: absolute;
        top: calc(100% + #{sizer(1)});
        right: 0;
        box-shadow: $bs-panel;
        min-width: sizer(25);
        border-radius: 2px;
        overflow: hidden;

        &__item {
            display: flex;
            align-items: center;
            min-height: sizer(5);
            padding: sizer(1) sizer(1.5);
            color: $fc-menu;
            background-color: $bg-secondary;

            a {
                cursor: pointer;
                height: 100%;
                width: 100%;
            }

            &:hover,
            &--active {
                background-color: $bg-menu-active;
                color: $fc-action;
            }
        }
    }

    .panel-overlay {
        position: fixed;
        z-index: z(menu-overlay);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
